<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información de perfil</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section class="container">
        <article class="container__header">Información de perfil</article>
        <article class="container__content center">
            <img src="<%= data.avatar %>" alt="">
            <p>Usuario: <%= data.username %></p>
            <p>Email: <%= data.email %></p>
            <p>Nombre: <%= data.name %></p>
            <p>Dirección: <%= data.address %></p>
            <p>Edad: <%= data.age %></p>
            <p>Código de area: <%= data.areacode %></p>
            <p>Teléfono: <%= data.telephone %></p>
        </article>
        <article class="container__footer">
            <button class="btn__blue" onclick="location.href='/products'">Volver</button>
            <button class="btn__red" onclick="location.href='/logout'">Cerrar sesión</button>
        </article>
    </section>
</body>

</html>