<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información de perfil</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section class="main__container">

        <article class="container navbar">
            <div class="navbar__logo">Tienda online</div>
            <div class="navbar__menu">
                <p class="navbar__profile" onclick="location.href='/products'">Productos</p>
                <p class="navbar__profile" onclick="location.href='/cart'">Carrito</p>
            </div>
            <div class="navbar__profile active" onclick="location.href='/user/profile'">
                <img src="/images/<%= data.avatar %>"
                    alt=""><%= data.name %>
            </div>
        </article>

 
        <article class="profile__container">
            <div class="profile">
                    <div class="container__header">Información de perfil</div>
                    <div class="container__content center">
                        <img src="/images/<%= data.avatar %>" alt="">
                        <p>Usuario: <%= data.username %></p>
                        <p>Email: <%= data.email %></p>
                        <p>Nombre: <%= data.name %></p>
                        <p>Dirección: <%= data.address %></p>
                        <p>Edad: <%= data.age %></p>
                        <p>Código de area: <%= data.areacode %></p>
                        <p>Teléfono: <%= data.telephone %></p>
                    </div>
                    <div class="container__footer">
                        <button class="btn__blue" onclick="location.href='/products'">Volver</button>
                        <button class="btn__red" onclick="location.href='/user/logout'">Cerrar sesión</button>
                    </div>
                </div>
        </article>
            

    </section>
</body>

</html>