extends layout

block contenido

    h1 #{mensaje} #{nombre} #{apellido}

    if render
        h2 El deporte favorito es #{deporte}
    else
        h2 El deporte mas aburrido es #{deporte}

block header
    div Header

block footer 
    div Footer